@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #000000;
    color: #ffffff;
}

/* ##################NAVBAR########################## */
.navbar {
    background: #00110F;
    padding: 1.5%;
}

.navbar-logo {
    height: 2rem;
    width: 2rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

i {
    color: #ffffff;
}

a.nav-link {
    padding-left: 3rem !important;
}

.fa-brands {
    color: #fff;
    transition: transform 0.4s;
}

.fa-brands:hover {
    color: #00FFE0;
    transition: 0.4s;
    transform: scale(1.25);
    text-shadow: 0 0 5px #00FFE0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    color: #fff;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

div.show,
div.collapsing {
    display: block;
    text-align: center;
    padding-top: 5%
}

span.mobileNavLinks {
    font-weight: 700;
    font-size: 0;
}

.hidden-item {
    display: none;
}

@media only screen and (max-width: 680px) {
    span.mobileNavLinks {
        font-weight: 500;
        font-size: 1.25rem;
    }

    .nav-item {
        padding-bottom: 5%
    }

    a.nav-link {
        padding-left: 0rem !important;
    }

    .hidden-item {
        display: block;
    }

    nav {
        min-height: 5rem;
    }
}


/* #######################INTRODUCTION#################### */
div.intro {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    position: relative;
}

div.background-img {
    width: 30%;
    position: absolute;
}

div.background-img img {
    width: 100%;
    opacity: 50%;
}

div.intro-text {
    margin-top: 9%;
    text-align: center;
    z-index: 10;
    width: 100%;
    position: absolute;
}

.intro-text h1 {
    font-size: 4rem;
    font-weight: 700;
}

.colored-text {
    color: #00FFE0;
}

@media only screen and (max-width: 680px) {
    div.background-img {
        width: 60%;
    }

    .intro-text h1 {
        font-size: 2.8rem;
        font-weight: 700;
    }

    div.intro-text {
        margin-top: 18%
    }
}