@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #000000;
    color: #ffffff;
}

div.container {
    width: 100%;
    margin: auto;
}

.fa {
    color: #fff;
}

/* ##################NAVBAR########################## */
.navbar {
    background: #00110F;
    padding: 1.5%;
}

.navbar-logo {
    height: 2rem;
    width: 2rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

i {
    color: #ffffff;
}

a.nav-link {
    padding-left: 3rem !important;
}

.nav-icon {
    color: #fff;
    transition: transform 0.4s;
}

.nav-icon:hover {
    color: #00FFE0;
    transition: 0.4s;
    transform: scale(1.25);
    text-shadow: 0 0 5px #00FFE0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    color: #fff;
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

div.show,
div.collapsing {
    display: block;
    text-align: center;
    padding-top: 5%
}

span.mobileNavLinks {
    font-weight: 700;
    font-size: 0;
}

.hidden-item {
    display: none;
}

@media only screen and (max-width: 680px) {
    span.mobileNavLinks {
        font-weight: 500;
        font-size: 1.25rem;
    }

    .nav-item {
        padding-bottom: 5%
    }

    a.nav-link {
        padding-left: 0rem !important;
    }

    .hidden-item {
        display: block;
    }

    nav {
        min-height: 5rem;
    }
}


/* #######################INTRODUCTION#################### */
div.intro {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    position: relative;
    min-height: 425px;
}

div.background-img {
    width: 30%;
    position: absolute;
}

div.background-img img {
    width: 100%;
    opacity: 80%;
}

div.intro-text {
    margin-top: 7%;
    text-align: center;
    z-index: 10;
    width: 100%;
    position: absolute;
}

button.hire-us {
    background: #00FFE0;
    border: none;
    border-radius: 100px;
    padding: 1rem;
    width: 12rem;
    font-size: 1.25rem;
    color: #000000;
    box-shadow: 0 0 60px #00FFE0;
    transition: transform 0.4s;
}

button.hire-us:hover {
    color: #000000;
    background: #00FFE0;
    transform: scale(1.2);
}

.hire-us:not(:disabled):not(:disabled):active {
    background-color: #00FFE0;
    color: #000000;
}

.intro-text h1 {
    font-size: 4rem;
    font-weight: 700;
}

.colored-text {
    color: #00FFE0;
}

@media only screen and (max-width: 680px) {
    div.background-img {
        width: 80%;
    }

    .intro-text h1 {
        font-size: 2.8rem;
        font-weight: 700;
    }

    div.intro-text {
        margin-top: 18%;
    }

    div.intro {
        min-height: 380px;
    }
}

/* ##############ABOUT NOERROR############# */

div.about {
    padding-top: 5%;
    width: 100%;
    padding-left: 2%;
}

div.about h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 3%;
    line-height: 50px;
}

span.bottom-line {
    padding-top: 2%;
    border-bottom: #00FFE0 4px solid;
}

div.about p {
    padding-left: 3%;
    font-size: 1.1rem;
}

div.about img {
    width: 50%;
    margin-left: 25%;
    filter: drop-shadow(0 0 90px #00FFE0);
}

@media only screen and (max-width: 680px) {
    div.about h1 {
        font-size: 1.8rem;
        font-weight: 700;
        text-align: left;
        padding-top: 2%;
        padding-left: 2%;
        padding-bottom: 3%;
        line-height: 50px;
    }

    span.bottom-line {
        padding-top: 2%;
        border-bottom: #00FFE0 4px solid;
    }

    div.about img {
        display: none;
    }

    div.about p {
        padding-right: 3%;
        font-size: 1.1rem;
    }
}


/* #############################SERVICES######################### */

div.services {
    margin-top: 5%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    display: block;
}

div.services h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
    padding-right: 2%;
    padding-bottom: 3%;
}

div.service-box {
    padding-top: 2%;
    padding-bottom: 2%;
}

div.service-child {
    border: #00FFE0 2px solid;
    border-radius: 30px;
    padding-top: 4%;
    padding-bottom: 4%;
}

div.circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to bottom right, white, white, #00FFE0);
    margin: auto;
    text-align: center;
    box-shadow: 0 0 20px #00FFE0;
}

.discord-service {
    color: #004A41;
    transform: translateY(2450%);
    -webkit-transform: translateY(2450%);
}

div.service-img {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

div.row {
    margin: auto;
}

div.service-text {
    margin: auto;
    overflow-wrap: break-word;
}

div.service-text p {
    margin: 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 120%;
}

i.fa-window-maximize {
    color: #004A41;
    transform: translateY(2450%);
    -webkit-transform: translateY(2450%);
}

i.fa-code {
    color: #004A41;
    transform: translateY(2450%);
    -webkit-transform: translateY(2450%);
}

i.fa-microchip {
    color: #004A41;
    transform: translateY(2450%);
    -webkit-transform: translateY(2450%);
}

i.fa-screwdriver-wrench {
    color: #004A41;
    transform: translateY(2450%);
    -webkit-transform: translateY(2450%);
}

i.fa-layer-group {
    color: #004A41;
    transform: translateY(2450%);
    -webkit-transform: translateY(2450%);
}

@media only screen and (max-width: 680px) {
    div.services h1 {
        font-size: 1.8rem;
    }

    div.circle {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: linear-gradient(to bottom right, white, white, #00FFE0);
        margin: auto;
        text-align: center;
        box-shadow: 0 0 20px #00FFE0;
    }

    i.discord-service,
    i.fa-window-maximize,
    i.fa-code,
    i.fa-microchip,
    i.fa-screwdriver-wrench,
    i.fa-layer-group {
        color: #004A41;
        position: relative;
        display: inline-block;
        -webkit-transform: translate3d(0, 3400%, 0);
        -ms-transform: translateY(1700%);
        -moz-transform: translateY(1700%);
        -o-transform: translateY(1700%);
        transform: translateY(1700%);
        font-size: x-large;
    }

    div.service-child {
        border: #00FFE0 2px solid;
        border-radius: 30px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    div.service-text p {
        margin: 0;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 120%;
    }

    div.services {
        padding-left: 5%;
        padding-right: 5%;
    }

}

/* ########################RECENT PROJECTS################### */

div.projects {
    margin-top: 5%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    display: block;
}

div.projects h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 3%;
}

div.project-box {
    border: #00FFE0 2px solid;
    border-radius: 30px;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    margin-bottom: 10%;
}

div.project-img {
    margin: auto;
}

div.test-img {
    height: 300px;
    width: 300px;
    background-color: #00FFE0;
    margin: auto;
    margin-top: 5%
}

div.project-text {
    padding-top: 10%
}

div.project-text h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2%;
}

div.project-text p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 2%;
}

div.view-projects h5 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2%;
    text-align: center;
}

div.view-projects h5 a {
    color: #00FFE0;
    text-decoration: none;
    transition: 0.4s;
}

div.view-projects h5 a:hover {
    color: #00FFE0;
    transition: 0.6s;
    font-size: 1.6rem;
}

@media only screen and (max-width: 680px) {
    div.projects h1 {
        font-size: 1.8rem;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    div.project-text h3 {
        font-size: 1.7rem;
        font-weight: 600;
    }

    div.project-box {
        margin-left: 5%;
        margin-right: 5%;
    }

    div.project-text p {
        font-size: 1.1rem;
        font-weight: 400;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%
    }

    div.test-img {
        height: 250px;
        width: 250px;
        margin-top: 5%
    }
}